.page {
  @include font-options($family, $default-font-size, $default-line-height, $normal-font-weight, $black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page h2 {
  @include font-options($family, $title-font-size, $title-line-height, $semibold-font-weight, $black);
}
